<!DOCTYPE html>
<html lang="{{ gettext('language') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gettext('title') }}</title>
</head>
<body>
    <h1>{{ gettext('Hello Világ') }}</h1>
    {{ gettext('Yet another message') }}
</body>
</html>
