<!DOCTYPE html>
<html lang="{{ _('language') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('title') }}</title>
</head>
<body>
    <h1>{{ _('Hello Világ') }}</h1>

</body>
</html>
